# Node dependencies & build
node_modules/
.next/
out/
build/
dist/

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Misc
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
